@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
    

        @foreach (var Less in ViewBag.Lession)
        {
            <p>Title:@Less.Title</p>
            <p>Slug:@Less.Slug</p>

            foreach (var m in Less.Modules)
            {
                <p>Module:@m.Title</p>
                <p>Copy:@m.Copy</p>
            }
        }
    </div>